.space-banner {
  position: relative;
  width: calc(var(--topic-body-width) + var(--topic-body-width-padding) * 2);
  // width: 728px;
  height: 90px;
  margin: auto;

  .sp-pos {
    position: absolute;
    width: calc(var(--topic-body-width) + var(--topic-body-width-padding) * 2);
    height: 90px;
    left: 0;
    top: 0;
  }

  #sp-banner {
    cursor: pointer;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
  }

  .sp-red {
    background-color: #cc1f26;
  }

  .sp-blue {
    background-color: #002768;
  }

  #sp-bgblue {
    left: 150px;
  }

  #sp-slogan {
    left: 0px;
    top: 7px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    line-height: 1.2;
    top: 16px;
  }

  .sp-red1 {
    color: #cc1f26;
  }

  .sp-dark {
    color: #000000;
  }

  #sp-logo {
    left: 20px;
    top: 15px;
    width: 110px;
    height: 59px;
  }

  #sp-btn {
    width: 150px;
    height: 25px;
    left: 200px;
    top: 55px;
    border: 1px solid #ffffff;
    line-height: 25px;
    font-size: 16px;
    will-change: transform, opacity;
  }

  #sp-footer {
    left: 150px;
    width: 250px;
    font-size: 20px;
    line-height: 1.2;
  }

  #sp-shipping {
    left: 0px;
    top: 4px;
    width: inherit;
  }

  #sp-frame {
    border: 1px solid #b3b3b3;
    box-sizing: border-box;
  }

  .sp-shead {
    left: 400px;
    top: 30px;
    width: 200px;
    height: 30px;
    font-size: 24px;
    line-height: 24px;
  }

  .sp-simg {
    width: 110px;
    height: 110px;
    left: 600px;
    top: -10px;
  }

  #sp-simg1 {
    background: url($slide-one);
    background-size: contain;
  }

  #sp-simg2 {
    background: url($slide-two);
    background-size: contain;
  }

  #sp-simg3 {
    background: url($slide-three);
    background-size: contain;
  }

  .sp-fssm {
    font-size: 18px;
  }
}
